**STEPS**

1-Getting Data.ipynb 
- put data in spreadsheets to be imported into data cleaning file.
- data from Yesenergy for prices
- data from sunrise sunset API
- data from meteomatics API
- data from synoptic labs API
- data from airport lat/long API




2-Cleaning Data.ipynb
- clean it up
- joins
- change variable names
- removes $, commas, nans
- converts timezones from utc to pst

3-Data Exploration.ipynb
- graph how price has changed over time
- graph price throughout the day
- graph price over the months
- graph price spread through day
- price spread through months

4-Machine Learning.ipynb
- predict price spread given input variables
- clean "return $/MW" column to just be binary buy or sell if it's positive or negative
- predict buy or sell given input variables

5- Combine.ipynb to combine ALL files 1-4 to create a for loop to iterate through many nodes.

In [ ]:
import pandas as pd
energyData = pd.read_csv("HenryHubPrices.csv")


energyData

,Date/Time,Day,Hour,RT Price $/MW,DA Price $/MW,Gas Price $/mmBtu,Gas Basis $/mmBtu,Load,Temperature °F,Wind Speed MPH,RT Heat Rate,DA Heat Rate,Return $,Return $/MW,Return %,Cum. Return $
0,03/18/2023 04:00:00,SAT,4,NaN,34.52,2.41,0.0,NaN,30.0,6.0,NaN,14.323651,NaN,NaN,NaN,-39694.4987
1,03/18/2023 05:00:00,SAT,5,NaN,35.53,2.41,0.0,NaN,28.0,6.0,NaN,14.742739,NaN,NaN,NaN,-39694.4987
2,03/18/2023 06:00:00,SAT,6,NaN,40.51,2.41,0.0,NaN,27.0,7.0,NaN,16.809129,NaN,NaN,NaN,-39694.4987
3,03/18/2023 07:00:00,SAT,7,NaN,52.96,2.41,0.0,NaN,27.0,8.0,NaN,21.975104,NaN,NaN,NaN,-39694.4987
4,03/18/2023 08:00:00,SAT,8,NaN,69.27,2.41,0.0,NaN,26.0,9.0,NaN,28.742739,NaN,NaN,NaN,-39694.4987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17537,07/13/2022 15:00:00,WED,15,3629.5075,643.74,6.79,0.0,29701.65,93.9,9.2,534.537187,94.807069,2985.7675,2985.7675,4.638157486,-24153.9625
17538,05/13/2022 17:00:00,FRI,17,4509.0050,587.00,7.31,0.0,23615.98,87.1,8.1,616.826949,80.300958,3922.0050,3922.0050,6.681439523,-9811.6625
17539,07/13/2022 16:00:00,WED,16,5092.2225,891.22,6.79,0.0,30148.27,91.9,6.9,749.959131,131.254786,4201.0025,4201.0025,4.713765961,-19952.9600
17540,07/13/2022 17:00:00,WED,17,5270.9575,751.29,6.79,0.0,30378.56,93.9,6.9,776.282401,110.646539,4519.6675,4519.6675,6.015876027,-15433.2925
17541,07/13/2022 18:00:00,WED,18,5411.3800,449.41,6.79,0.0,30396.28,96.1,13.8,796.963181,66.187040,4961.9700,4961.9700,11.04107608,-10471.3225

In [ ]:
energyData['Dates'] = pd.to_datetime(energyData['Date/Time']).dt.date
energyData['Time'] = pd.to_datetime(energyData['Date/Time']).dt.time

energyData['Dates'] = energyData['Dates'].astype(str)
energyData["Year"] = energyData['Dates'].str.slice(0,4)
energyData["Month"] = energyData['Dates'].str.slice(5,7)
energyData["Day"] = energyData['Dates'].str.slice(8,10)
energyData["DateAPIFormat"] = energyData.Year + energyData.Month + energyData.Day

energyData
energyData

,Date/Time,Day,Hour,RT Price $/MW,DA Price $/MW,Gas Price $/mmBtu,Gas Basis $/mmBtu,Load,Temperature °F,Wind Speed MPH,...,Return $,Return $/MW,Return %,Cum. Return $,Dates,Time,Year,Month,Date,DateAPIFormat
0,03/18/2023 04:00:00,18,4,NaN,34.52,2.41,0.0,NaN,30.0,6.0,...,NaN,NaN,NaN,-39694.4987,2023-03-18,04:00:00,2023,03,03/1/223,20230318
1,03/18/2023 05:00:00,18,5,NaN,35.53,2.41,0.0,NaN,28.0,6.0,...,NaN,NaN,NaN,-39694.4987,2023-03-18,05:00:00,2023,03,03/1/223,20230318
2,03/18/2023 06:00:00,18,6,NaN,40.51,2.41,0.0,NaN,27.0,7.0,...,NaN,NaN,NaN,-39694.4987,2023-03-18,06:00:00,2023,03,03/1/223,20230318
3,03/18/2023 07:00:00,18,7,NaN,52.96,2.41,0.0,NaN,27.0,8.0,...,NaN,NaN,NaN,-39694.4987,2023-03-18,07:00:00,2023,03,03/1/223,20230318
4,03/18/2023 08:00:00,18,8,NaN,69.27,2.41,0.0,NaN,26.0,9.0,...,NaN,NaN,NaN,-39694.4987,2023-03-18,08:00:00,2023,03,03/1/223,20230318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17537,07/13/2022 15:00:00,13,15,3629.5075,643.74,6.79,0.0,29701.65,93.9,9.2,...,2985.7675,2985.7675,4.638157486,-24153.9625,2022-07-13,15:00:00,2022,07,07/1/222,20220713
17538,05/13/2022 17:00:00,13,17,4509.0050,587.00,7.31,0.0,23615.98,87.1,8.1,...,3922.0050,3922.0050,6.681439523,-9811.6625,2022-05-13,17:00:00,2022,05,05/1/222,20220513
17539,07/13/2022 16:00:00,13,16,5092.2225,891.22,6.79,0.0,30148.27,91.9,6.9,...,4201.0025,4201.0025,4.713765961,-19952.9600,2022-07-13,16:00:00,2022,07,07/1/222,20220713
17540,07/13/2022 17:00:00,13,17,5270.9575,751.29,6.79,0.0,30378.56,93.9,6.9,...,4519.6675,4519.6675,6.015876027,-15433.2925,2022-07-13,17:00:00,2022,07,07/1/222,20220713
17541,07/13/2022 18:00:00,13,18,5411.3800,449.41,6.79,0.0,30396.28,96.1,13.8,...,4961.9700,4961.9700,11.04107608,-10471.3225,2022-07-13,18:00:00,2022,07,07/1/222,20220713

In [ ]:
# get sunset/sunrise data: 
import sys
import time
import pandas as pd
import requests

HB_PAN = [35.371452, -101.387665]
date = 20230318
sunrise = requests.get("https://api.sunrise-sunset.org/json?lat=35.371452&lng=-101.3887665&date=20230318")

sunriseinfo = {}
sunsetinfo = {}
daylengthinfo = {}
#takes 2.5mins to run
for day in energyData["DateAPIFormat"].unique():
    sunrise = requests.get("https://api.sunrise-sunset.org/json?lat=34.963623&lng=-120.424576&date=%s&formatted=0"%day)
    res = sunrise.json()["results"]
    sunriseinfo[day] =res["sunrise"]
    sunsetinfo[day] =res["sunset"]
    daylengthinfo[day]=res["day_length"]

    sys.stdout.write('.')
    time.sleep(.0001)

............................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................

In [ ]:

pd.to_datetime(sunsetinfo[energyData["DateAPIFormat"].unique()[0]])

Timestamp('2023-03-19 02:12:50+0000', tz='UTC')

In [ ]:
energyData["Sunrise"] = energyData["DateAPIFormat"].map(sunriseinfo)
energyData["Sunset"] = energyData["DateAPIFormat"].map(sunsetinfo)
energyData["Day_Length"] = energyData["DateAPIFormat"].map(daylengthinfo)
energyData

,Date/Time,Day,Hour,RT Price $/MW,DA Price $/MW,Gas Price $/mmBtu,Gas Basis $/mmBtu,Load,Temperature °F,Wind Speed MPH,...,Cum. Return $,Dates,Time,Year,Month,Date,DateAPIFormat,Sunrise,Sunset,Day_Length
0,03/18/2023 04:00:00,18,4,NaN,34.52,2.41,0.0,NaN,30.0,6.0,...,-39694.4987,2023-03-18,04:00:00,2023,03,03/1/223,20230318,2023-03-18T14:06:36+00:00,2023-03-19T02:12:50+00:00,43574
1,03/18/2023 05:00:00,18,5,NaN,35.53,2.41,0.0,NaN,28.0,6.0,...,-39694.4987,2023-03-18,05:00:00,2023,03,03/1/223,20230318,2023-03-18T14:06:36+00:00,2023-03-19T02:12:50+00:00,43574
2,03/18/2023 06:00:00,18,6,NaN,40.51,2.41,0.0,NaN,27.0,7.0,...,-39694.4987,2023-03-18,06:00:00,2023,03,03/1/223,20230318,2023-03-18T14:06:36+00:00,2023-03-19T02:12:50+00:00,43574
3,03/18/2023 07:00:00,18,7,NaN,52.96,2.41,0.0,NaN,27.0,8.0,...,-39694.4987,2023-03-18,07:00:00,2023,03,03/1/223,20230318,2023-03-18T14:06:36+00:00,2023-03-19T02:12:50+00:00,43574
4,03/18/2023 08:00:00,18,8,NaN,69.27,2.41,0.0,NaN,26.0,9.0,...,-39694.4987,2023-03-18,08:00:00,2023,03,03/1/223,20230318,2023-03-18T14:06:36+00:00,2023-03-19T02:12:50+00:00,43574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17537,07/13/2022 15:00:00,13,15,3629.5075,643.74,6.79,0.0,29701.65,93.9,9.2,...,-24153.9625,2022-07-13,15:00:00,2022,07,07/1/222,20220713,2022-07-13T12:56:46+00:00,2022-07-14T03:18:16+00:00,51690
17538,05/13/2022 17:00:00,13,17,4509.0050,587.00,7.31,0.0,23615.98,87.1,8.1,...,-9811.6625,2022-05-13,17:00:00,2022,05,05/1/222,20220513,2022-05-13T12:57:59+00:00,2022-05-14T02:58:06+00:00,50407
17539,07/13/2022 16:00:00,13,16,5092.2225,891.22,6.79,0.0,30148.27,91.9,6.9,...,-19952.9600,2022-07-13,16:00:00,2022,07,07/1/222,20220713,2022-07-13T12:56:46+00:00,2022-07-14T03:18:16+00:00,51690
17540,07/13/2022 17:00:00,13,17,5270.9575,751.29,6.79,0.0,30378.56,93.9,6.9,...,-15433.2925,2022-07-13,17:00:00,2022,07,07/1/222,20220713,2022-07-13T12:56:46+00:00,2022-07-14T03:18:16+00:00,51690
17541,07/13/2022 18:00:00,13,18,5411.3800,449.41,6.79,0.0,30396.28,96.1,13.8,...,-10471.3225,2022-07-13,18:00:00,2022,07,07/1/222,20220713,2022-07-13T12:56:46+00:00,2022-07-14T03:18:16+00:00,51690

In [ ]:
weather = []
weather16_17 = requests.get('https://api.synopticlabs.org/v2/stations/timeseries?&token=3066f4e105ff4614a61897b282e96cae&stid=KAMA&start=202203180000&end=202303182000&timeformat=Y%25YM%25mD%25dH%25HM%25M&vars=air_temp,weather_condition,relative_humidity,wind_speed,wind_direction,wind_gust,solar_radiation,peak_wind_speed,pressure')

In [ ]:
weather_df = pd.DataFrame(weather16_17.json()['STATION'][0]["OBSERVATIONS"])
weather_df

,date_time,weather_condition_set_1d,pressure_set_1d,relative_humidity_set_1,wind_speed_set_1,air_temp_set_1
0,Y2022M03D17H19M00,None,88848.29,80.63,10.803,3.0
1,Y2022M03D17H19M05,None,88848.29,80.63,12.861,3.0
2,Y2022M03D17H19M10,unknown precip,88848.29,80.63,11.832,3.0
3,Y2022M03D17H19M15,unknown precip,88877.96,86.58,10.803,2.0
4,Y2022M03D17H19M20,None,88907.64,86.58,9.774,2.0
...,...,...,...,...,...,...
113210,Y2023M03D18H14M45,None,90064.98,28.58,4.630,7.0
113211,Y2023M03D18H14M50,None,90064.98,28.58,3.087,7.0
113212,Y2023M03D18H14M53,None,90064.98,28.19,2.572,7.2
113213,Y2023M03D18H14M55,None,90064.98,28.58,1.543,7.0
113214,Y2023M03D18H15M00,None,90064.98,28.58,NaN,7.0

In [ ]:
#if time, add constraints
#if time, add FTRs
weather_df.to_csv("Weather.csv", index=False)

In [ ]:
energyData.to_csv("Energy.csv")

In [ ]:
import pandas as pd
import requests
sun = requests.get("https://stanford_chadha:TqB5B03dcf@api.meteomatics.com/2022-09-24T07:00:00.000-07:00--2023-03-23T07:00:00.000-07:00:PT1H/direct_rad:W,solar_power:MW/29.7589382,-95.3676974/csv?model=mix")
sun

In [26]:
!pip install -U airportsdata
import airportsdata
airports = airportsdata.load()  # key is the ICAO identifier (the default)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting airportsdata
  Downloading airportsdata-20230323-py3-none-any.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 13.9 MB/s eta 0:00:00
Installing collected packages: airportsdata
Successfully installed airportsdata-20230323

NameError: ignored

In [ ]:
!pip install meteomatics

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting meteomatics
  Downloading meteomatics-2.9.0-py3-none-any.whl (18 kB)
Requirement already satisfied: requests>=2.21.0 in /usr/local/lib/python3.9/dist-packages (from meteomatics) (2.27.1)
Collecting isodate>=0.6.0
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.7/41.7 KB 4.7 MB/s eta 0:00:00
Collecting pathlib2>=2.3.5
  Downloading pathlib2-2.3.7.post1-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: pandas>=0.18.1 in /usr/local/lib/python3.9/dist-packages (from meteomatics) (1.4.4)
Requirement already satisfied: pytz in /usr/local/lib/python3.9/dist-packages (from meteomatics) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from isodate>=0.6.0->meteomatics) (1.16.0)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.18.1->meteomatics) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.18.1->meteomatics) (2.8.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.21.0->meteomatics) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.21.0->meteomatics) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.21.0->meteomatics) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.21.0->meteomatics) (3.4)
Installing collected packages: pathlib2, isodate, meteomatics
Successfully installed isodate-0.6.1 meteomatics-2.9.0 pathlib2-2.3.7.post1

In [27]:
import meteomatics.api as api
import datetime as dt
username = "stanford_chadha"
password = "TqB5B03dcf"
airport = "KAMA"
coords = [ (str(airports[airport]['lat']),str(airports[airport]['lon']))]
dates = dt.datetime.utcnow().replace(hour=0, minute=0, second=0, microsecond=0) - dt.timedelta(days=180)
end =  dt.datetime.utcnow().replace(hour=0, minute=0, second=0, microsecond=0) 
inter =  dt.timedelta(hours=1)
params = ["direct_rad:W","solar_power:MW"]
try:
  sundf = api.query_time_series(coords, dates, end, inter, params, username, password)
  sundf
except Exception as e:
    print("Failed, the exception is {}".format(e))

In [28]:
sundf

                                                              direct_rad:W  \
lat              lon               validdate
35.2193611111111 -101.705916666667 2022-09-24 00:00:00+00:00          52.4
                                   2022-09-24 01:00:00+00:00           0.0
                                   2022-09-24 02:00:00+00:00           0.0
                                   2022-09-24 03:00:00+00:00           0.0
                                   2022-09-24 04:00:00+00:00           0.0
...                                                                    ...
                                   2023-03-22 20:00:00+00:00         251.3
                                   2023-03-22 21:00:00+00:00         187.3
                                   2023-03-22 22:00:00+00:00          77.9
                                   2023-03-22 23:00:00+00:00          36.3
                                   2023-03-23 00:00:00+00:00          12.7

                                                              solar_power:MW
lat              lon               validdate
35.2193611111111 -101.705916666667 2022-09-24 00:00:00+00:00           0.046
                                   2022-09-24 01:00:00+00:00           0.000
                                   2022-09-24 02:00:00+00:00           0.000
                                   2022-09-24 03:00:00+00:00           0.000
                                   2022-09-24 04:00:00+00:00           0.000
...                                                                      ...
                                   2023-03-22 20:00:00+00:00           0.574
                                   2023-03-22 21:00:00+00:00           0.451
                                   2023-03-22 22:00:00+00:00           0.268
                                   2023-03-22 23:00:00+00:00           0.141
                                   2023-03-23 00:00:00+00:00           0.045

[4321 rows x 2 columns]

In [24]:
sundf.to_csv("sun.csv")